body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

// navbar

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;
      font-size: 20px;

      &.active {
        font-weight: 700;
        color: #071c4d !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
  font-size: 20px;

  &:hover {
    background-color: #1e3771;
    color: #fff;
  }
}

// header

header {
  padding: 180px 0 165px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  margin-top: -70px;

  h1,
  p {
    color: #fff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 50px;
  }

  p {
    font-size: 22px;
    font-weight: 400;
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: white;
    font-size: 20px;

    &:hover {
      background-color: #ffaa69;
      color: #fff;
    }
  }
}

// statistics

.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 45px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }
}

// popular

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -210px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-size: 40px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ebebeb;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;

      .travel-country {
        font-size: 18px;
      }

      .travel-location {
        font-size: 26px;
      }

      .travel-button {
        .btn-travel-details {
          background-color: #ff9e53;
          padding: 8px 34px 8px 34px !important;
          color: #fff;

          &:hover {
            background-color: #ffae6f;
          }
        }
      }
    }
  }
}

.section-networks {
  background-color: #fff;
  margin-top: -200px;
  padding-top: 275px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}

// testimonial

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-content {
  margin-top: -280px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 50px 20px 10px;
    margin-bottom: 20px;

    .trip-to {
      font-size: 22px;
      color: #6e6e6e;
    }

    .testimonial-content {
      min-height: 340px;

      h3 {
        font-size: 22px;
        font-weight: 600;
      }

      .testimonial {
        font-size: 26px;
        font-weight: 200;
        color: #6e6e6e;
        min-height: 160px;
      }
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;
    font-size: 20px;
    font-weight: 200;

    &:hover {
      background-color: #fafafa;
    }
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: white;
    font-size: 20px;

    &:hover {
      background-color: #ffaa69;
      color: #fff;
    }
  }
}

// footer

.section-footer {
  a {
    color: #071c4d;
  }
}

// Page Details

.section-details-header {
  min-height: 310px;
  background-color: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  padding-left: 24px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    padding-bottom: 40px;
  }

  .breadcrumb-item {
    font-size: 20px;
    font-weight: 200;

    &.active {
      font-weight: 600;
      color: #071c4d;
    }
  }

  .card-details {
    padding: 30px;

    h1 {
      font-size: 26px;
      font-weight: 600;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 18px;
      color: #b1b1b1;
    }

    .features {
      margin-top: 30px;

      h3 {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }

      .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
      }

      .featured-image {
        float: left;
        width: 45px;
        height: 45px;
      }
    }

    .gallery {
      .xzoom-container {
        display: block;

        .xzoom {
          width: 100%;
          box-shadow: none;
          margin-bottom: 10px;
        }

        .xactive {
          border: 4px solid #1abc9c;
          box-shadow: none;
        }
      }
    }

    .members {
      .members-image {
        width: 40px;
        height: 40px;
      }
    }

    .trip-information {
      th {
        font-weight: 400;
        font-size: 18px;
      }

      td {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
      }

      .text-blue {
        color: #071c4d;
        font-weight: 700;
      }

      .text-orange {
        color: #ff9e53;
        font-weight: 700;
      }
    }

    .payment-instruction {
      font-weight: 300;
      font-size: 14px;
      color: #b1b1b1;
    }

    .bank {
      .bank-item {
        h3 {
          font-size: 18px;
          margin-bottom: 0;
          font-weight: 600;
        }

        p {
          margin-bottom: 0;
        }

        .description {
          margin-left: 10px;
          overflow: hidden;
          float: left;

          p {
            color: #071c4d;
            font-weight: 400;
          }
        }
      }

      .bank-image {
        width: 45px;
        height: 45px;
        float: left;
      }
    }

    .member {
      .gj-datepicker {
        .datepicker {
          border-right: 0;
        }

        .input-group-append {
          .btn {
            padding-right: 30px;
          }
        }
      }
    }
  }

  .join-container {
    margin-top: -18px;
  }

  .btn-join-now {
    background-color: #ff9e53;
    color: #fff;
    border-radius: 0;

    &:hover {
      background-color: #ffb57c;
      color: #fff;
    }
  }

  .btn-add-now {
    background-color: #071c4d;
    color: #fff;

    &:hover {
      background-color: #1b3b86;
      color: #fff;
    }
  }
}

// checout success

.section-success {
  height: 90vh;

  h1 {
    font-size: 26px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    color: #b1b1b1;
  }

  .btn-home-page {
    background-color: #071c4d;
    color: #fff;

    &:hover {
      background-color: #1b3b86;
    }
  }
}

// portfolio

.portfolio {
  position: absolute;
  z-index: 99;
  margin-top: 470px;
  margin-left: 20px;
  background-color: #3b44a8;
  width: 150px;
  height: 40px;
  border-radius: 5px;

  &:hover {
    background-color: #6770db;
  }

  a {
    color: #fff;
    padding-left: 28px;
    padding-top: 8px !important;
    text-decoration: none;
  }
}
